# dependencies
node_modules/

# IDE
/.vscode
/.devcontainer
*.code-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js
/dist
jup-apes-migration
migration-logs.txt

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
pgdata
.eslintcache
.env
pgadmin-data/
